.container.projects {
    overflow-y: scroll;

    .text-zone {
        width: 40%;
        height: 70vh;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            li {
                display: block;
                position: relative;

                a {
                    text-decoration: none;
                }

                h2 {
                    cursor: pointer;
                    color: white;
                    width: max-content;

                    &:hover {
                        color: #27B9B4;
                    }
                }

                img {
                    position: absolute;
                    width: 80%;
                    right: -80%;
                    bottom: 0px;
                    opacity: 0;
                    transition-property: opacity;
                    transition-duration: 0.4s;
                    z-index: 0;
                    cursor: pointer;
                }

                &:hover {
                    img {
                        opacity: 1;
                        z-index: 1;
                    }
                }
            }
        }
    }
}
