.container.resume {
    overflow-y: scroll;

    .text-zone {
        padding-left: 200px;
        // width: 40%;
        // height: 70vh;

        width: 612px;
        box-sizing: border-box;

        a {
            width: 612px;

            >div {
                width: max-content;

                div {

                    div {
                        display: none;
                    }
                }
            }
        }
    }
}
